includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 5
    paths:
        - ../../plugin-src/hea-lth-ops/hea-lth-ops.php
        - ../../plugin-src/hea-lth-ops/index.php
    excludePaths:
        - ../../plugin-src/hea-lth-ops/lib (?)
    reportUnmatchedIgnoredErrors: true
