includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 5
    paths:
        - ../../plugin-src/hea-lth-platform-core
        - ../../theme-src/hea-lth-portal
        - ../../theme-src/hea-lth-portal-child
    excludePaths:
        - ../../theme-src/hea-lth-portal/assets/vendor
    reportUnmatchedIgnoredErrors: true
